﻿@model Test_Demo_2.Models.LUU_TRU

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<h2 class="text-info mb-3 mx-3">XÓA SỐ LƯỢNG MẶT HÀNG: @Html.DisplayFor(model => model.MA_CUA_HANG)_@Html.DisplayFor(model => model.MA_MAT_HANG)</h2>

<table class="table">
    <tr>
        <th>
            <lable>Mã cửa hàng</lable>
        </th>
        <th>
            <lable>Mã mặt hàng</lable>
        </th>

        <th>
            <lable>Tên mặt hàng</lable>
        </th>
        <th>
            <lable>Địa chỉ cửa hàng</lable>
        </th>
        <th>
            <lable>Số lượng hiện có</lable>
        </th>
    </tr>
    <tr>
        <td>
            <span class="mx-1 font-weight-bold">@Html.DisplayFor(model => model.MA_CUA_HANG)</span>
        </td>

        <td>
            <span class="mx-1 font-weight-bold">@Html.DisplayFor(model => model.MA_MAT_HANG)</span>
        </td>

        <td>
            <span class="mx-1 font-weight-bold">@Html.DisplayFor(model => model.MAT_HANG.TEN_MAT_HANG)</span>
        </td>
        <td>
            <span class="mx-1 font-weight-bold">@Html.DisplayFor(model => model.CUA_HANG.DIA_CHI)</span>
        </td>
        <td>
            <span class="mx-1 font-weight-bold">@Html.DisplayFor(model => model.SO_LUONG_MAT_HANG)</span>
        </td>
    </tr>
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color mt-3">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a href="@Url.Action("Index","LUUTRU")" class="btn btn-primary">Quay lại</a>
    </div>
}
</div>