﻿@model Test_Demo_2.Models.MAT_HANG

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2 class="text-info mb-3 mx-3">CHỈNH SỬA CỬA HÀNG: @Html.DisplayFor(model => model.MA_MAT_HANG)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MA_MAT_HANG)
        <div class="form-group">
            <lable class="mx-3">Tên mặt hàng</lable>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TEN_MAT_HANG, new { htmlAttributes = new { @class = "form-control text-white" } })
                @Html.ValidationMessageFor(model => model.TEN_MAT_HANG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <lable class="mx-3">Đơn giá</lable>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DON_GIA, new { htmlAttributes = new { @class = "form-control text-white" } })
                @Html.ValidationMessageFor(model => model.DON_GIA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" /> |
                <a href="@Url.Action("Index","MATHANG")" class="btn btn-primary">Quay lại</a>
            </div>
        </div>
    </div>
}