﻿@model Test_Demo_2.Models.CUA_HANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2 class="text-danger mb-3 mx-3">XÓA CỬA HÀNG: @Html.DisplayFor(model => model.MA_CUA_HANG)</h2>

<div>
    <hr />
    <dl class="dl-horizontal mx-3">
        <dd>
            <lable>Mã cửa hàng: <span class="mx-1 font-weight-bold">@Html.DisplayFor(model => model.MA_CUA_HANG)</span></lable>
        </dd>
        <dd>
            <lable>Địa chỉ CH: <span class="mx-4 font-weight-bold">@Html.DisplayFor(model => model.DIA_CHI)</span></lable>
        </dd>

        <dd>
            <lable>Số điện thoại: <span class=" font-weight-bold"> @Html.DisplayFor(model => model.SO_DIEN_THOAI)</span></lable>
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color mx-3">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a href="@Url.Action("Index","CUAHANG")" class="btn btn-primary">Quay lại</a>
        </div>
    }
</div>