﻿@model Test_Demo_2.Models.CUA_HANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2 class="text-info mb-3 mx-3">THÔNG TIN CỬA HÀNG: @Html.DisplayFor(model => model.MA_CUA_HANG)</h2>

<div>
    <hr />
    <dl class="dl-horizontal mx-3">
        <dd>
            <lable>Mã cửa hàng: <span class="mx-1 font-weight-bold">@Html.DisplayFor(model => model.MA_CUA_HANG)</span></lable>
        </dd>
        <dd>
            <lable>Địa chỉ CH: <span class="mx-4 font-weight-bold">@Html.DisplayFor(model => model.DIA_CHI)</span></lable>
        </dd>

        <dd>
            <lable>Số điện thoại: <span class=" font-weight-bold"> @Html.DisplayFor(model => model.SO_DIEN_THOAI)</span></lable>

        </dd>

    </dl>
</div>
<div class="mx-3">
    <a href="@Url.Action("Edit","CUAHANG", new { id = Model.MA_CUA_HANG })" class="btn btn-info ">Edit</a> |
    <a href="@Url.Action("Index","CUAHANG")" class="btn btn-primary">Quay lại</a>
</div>