﻿@model Test_Demo_2.Models.THONG_TIN_BAN_HANG

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MyLayout.cshtml";
    int count = 0;
}
<h2 class="text-info mb-3 mx-3">LỰA CHỌN MẶT HÀNG CẦN MUA: <label>@Html.DisplayFor(model => model.MA_HOA_DON)</label> </h2>

@if(TempData["mess"] != null)
            {
                <div class="alert alert-warning">
                    @TempData["mess"]
                </div>
            }    

@using (Html.BeginForm("Create", "THONGTINBANHANG", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table class="table">
        <tr>
            <th>Tên mặt hàng</th>
            <th>Số lượng</th>
        </tr>
        @foreach (var item in (SelectList)ViewBag.MA_MAT_HANG)
        {
            if (item.Value != null)
            {
                count += 1;
            }
            <tr>
                <td>@item.Text</td>
                <td>
                    <input type="number" name="SoLuong[]" class="form-control" />
                </td>
            </tr>
        }
    </table>
    @Html.Hidden("count", count)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
            <a href="@Url.Action("Index","HOADON")" class="btn btn-primary">Quay lại</a>
        </div>
    </div>
</div>

}
