@model IEnumerable<Test_Demo_2.Models.THONG_TIN_BAN_HANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
    decimal Thanhtoan = 0;
}
<h2 class="text-info">THÔNG TIN CHI TIẾT</h2>

@using (Html.BeginForm())
{
    <input type="hidden" name="Thanhtoan" value="@Thanhtoan" />
    <table class="table">
        <tr>
            <th>
                <lable>Mã hóa đơn</lable>
            </th>

            <th>
                <lable>Tên mặt hàng</lable>
            </th>
            <th>
                <lable>Số lượng mua</lable>
            </th>
            <th>
                <lable>Đơn giá</lable>
            </th>
            <th>
                <lable>Thành tiền</lable>
            </th>
            <th>
                <lable>Chức năng</lable>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HOA_DON.MA_HOA_DON)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAT_HANG.TEN_MAT_HANG)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SO_LUONG_BAN_HANG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAT_HANG.DON_GIA)
                </td>
                <td>
                    @{
                        decimal tongTien = (decimal)(item.SO_LUONG_BAN_HANG * item.MAT_HANG.DON_GIA);
                        @tongTien
                        Thanhtoan += tongTien;
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", "THONGTINBANHANG", new { mahd = item.HOA_DON.MA_HOA_DON, mamh = item.MAT_HANG.MA_MAT_HANG, id = item.MA_HOA_DON, mach = item.HOA_DON.MA_CUA_HANG })" class="btn-sm btn-info">Edit</a> |
                    <a href="@Url.Action("Delete", "THONGTINBANHANG", new { mahd = item.HOA_DON.MA_HOA_DON, mamh = item.MAT_HANG.MA_MAT_HANG, id = item.MA_HOA_DON })" class="btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }

    </table>
}

<div class="d-flex justify-content-start align-items-center mt-3">
    <span class="font-weight-bold mr-3 text-info" style="font-size: 25px">Tổng: </span>
    <input type="text" readonly name="name" value="@Thanhtoan" class="form-control text-warning" style="width: 13%; font-size: 20px; background-color: #191c24; border: none" />
</div>
<a href="@Url.Action("Index","HOADON")" class="btn btn-primary mb-4 mt-3">Quay về</a>

